<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Url Shortener</h1>
    <table>
      <thead>
        <tr>
          <th>Full Url</th>
          <th>Shortened Url</th>
          <th>Clicks</th>
        </tr>
      </thead>
    </table>
  </body>
</html>